/* ==================== Loader ==================== */

#loader {
    width: 100%;
    height: 100vh;
    background: var(--fourth-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#loader .bx-loader-alt {
    animation: spin 1s linear infinite;
    color: var(--fifth-color);
    font-size: 50px;
}